*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(90deg);
  }
  header{
        margin-top: 75px;
  }
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  .home-stock{
    color: #022249;
    font-weight: 900;
    font-family: cursive;
    border-right: 6px solid red;
    border-radius: 50%;
    padding-right: 30px;
    padding-bottom: 8px;
  }
  .home-land{
    color: #56BECB;
    font-weight: 900;
    font-family: cursive;
  }
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  .featurette-divider {
    margin: auto;
    color: #276783;
    width: 70%;
    border: 1px solid #276783;
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 1px solid rgb(38, 64, 148);
  }
  .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    /* border: 1px solid rgb(87, 31, 31); */
    background-color: rgb(63, 80, 136);
    border-radius: 50%;
  } 
  .carousel-control-next-icon{
    width: 50px;
    height: 50px;
    background-color: rgb(38, 64, 148);
    border-radius: 50%;   
  } 
  .carousel-caption {
    z-index: 10;
    font-family: cursive;
  }
  .carousel-item {
    height: 30rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    opacity: 0.8;
  }
  .car-title-search{
    font-weight: 700;
    color: #022249;
  }
  .car-note-search{
    font-size: 17px;
    color: #022249;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .car-title-add{
    color: #022249;
    font-weight: 700;
  }
  .car-note-add{
    font-size: 17px;
    font-weight: 700;
    color: #022249;
    letter-spacing: 2px;
  }
  .car-title-check{
    font-weight: 700;
  }
  .car-note-check{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .home_carousel{
    width: 100%;
    height: 20rem;
  }

  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  