.stockView{
  width:100%;
  /* display:flex;
  flex-direction:row;
  justify-content: space-between; */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:0.8em;
}
.Checkibtn{
  padding:1% 6%;
  font-size: 0.7em;
  background-color:#B6C3DD;
  border:0px;
}
.Checkibtn:hover{
  /* background-color:#fff; */
  border:2px solid black;
}
.Company_Name{
  font-size:0.8em;
}
#AddStocks{

  box-sizing: border-box;
  margin-top:20px;
  padding:15px;
  /* width:100%; */
  background-color: #F5F5F5;
  box-shadow:  0px 0px 5px 3px rgb(172, 172, 172);
}
.FormGroup{

  /* display:flex; */
  font-size:1em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Stocks{
  width:100%;
}
.Input{

  height:25px;
  
  margin-left: 1px;
  /* border-radius: 5px; */
}
.Addbtn {
  padding: 7px 28px;
  /* margin-left: 245px; */
  margin-top: 10px;
  font-size:15px;
  background-color: #8FC4DB;
  border-radius: 3px;
}
#AddStocksList{
  font-size:30px;
  /* height: 600px; */
  padding: 10%;
  box-sizing: border-box;
  background-color: #F5F5F5;
  margin-top:20px;
  width:100%;
  border-radius: 10px;
  box-shadow:  0px 0px 5px 5px rgb(172, 172, 172);
  /* display: flex;
  flex-direction: column; */
}
.ListHeaders{
  /* display:flex;
  flex-direction: row;
  justify-content: space-between; */
  margin-bottom: 20px;
  font-size:1em;
}
.stocksContent{

  /* height: 600px; */
  margin-top: 30px;

  /* border: 2px solid black; */
  /* display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around; */
  
}
.addStocks{
  padding: 10px;
  /* display:flex;
  align-items: center;
  justify-content:left; */

}
.stockList{
  
  padding: 10px;
 
}