.navbar{
    z-index: 9999;
    width: 100%;
    /* background: #F5F5F5; */
    background-color: #F5F5F5;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
  }
  .navbar-brand{
    margin-left: 1.3rem;
  }
  .navbar-toggler-icon{
    color: #022249;
    border: 0.1px solid #022249;
    justify-content: center;
    text-align: center;
    padding-top: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #888888;
  }
  .navbar-nav{
    margin-right: 2rem;
  }
  .navbar-collapse{
    text-align: center;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .nav-item{
    margin-left: 20px;
  }
  .nav-link{
    color: #022249;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .logout_link{
    padding-top: 0px;
    margin-top: 0px;
  }
  .nav-logo{
    height: 3rem;
    width: 10rem;
  }
  .dropdown-menu-right {
    right: 0;
    left: auto;
    background-color: #F5F5F5;
    margin-top: 20px;
}