.SearchBar{
    /* display:flex; */
    /* margin:5px; */
    /* border: 2px black solid; */
    padding:5px;
}
.searchBtn{
    
    box-sizing: border-box;
    background-color: #ccc;
    padding: 0px 20px;
    height:35px;
    border: 2px solid #ccc;
    margin-bottom: 35px; 
}
.searchBtn:hover{
    background-color:#bbb;
    border:2px solid #bbb;
}
.inputSearch{
    box-sizing: border-box;
    height:35px;
    width: 35%;
    border: 2px solid #ccc;
    /* border-radius: 10px; */
}
.Chart{
    display:flex;
    align-items:center;
    width:100%;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 5px #ccc;
}
.viewed{
    /* padding: 10px; */
    border: 2px solid black;
}