
  * {
    box-sizing: border-box;
    margin: 0px;
  }
  body, html {
    margin: 0px;
    padding: 0px;
  }
  .navbar{
    z-index: 999;
    width: 100%;
    position: fixed;
    background-color: transparent;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
  }
  .navbar-brand{
    margin-left: 1.2rem;
    
  }
  .nav-logo{
    height: 3rem;
    width: 10rem;
  }
  .navbar-toggler{
    margin-right: 1rem;
  }
  .navbar-collapse{
    color: aliceblue;
    margin-left: 1.2rem;
    text-align: center;
  }
  #navbarSupportedContent{
    margin-right: 3rem;
  }
  .nav-item{
    padding-left: 1rem;
  }
  .nav-link{
  font-size: 1.3rem;
  font-weight: 600;
}
.home-container{
  position: absolute;
  height: 100vh;
  
}
.home-img{
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.home-con0{
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0px;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.3);
}
.home-con1{
  width: 90%;
  position: absolute;
  display: flex;
  text-align: left;
  top: 25vh;
  margin-left: 5vw;
  color: aliceblue;
  padding-left: 10px;
  border-left: 7px solid #fff;
}
.name{
  font-size: 5.5vw;
}
.after-name{
  font-size: 1.7em;
}