body{
  background-color: #F5F5F5;
  margin: 0px;
  width: 100%;
}
.navbar{
  z-index: 9999;
  width: 100%;
  /* background: #F5F5F5; */
  background-color: #F5F5F5;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}
.navbar-brand{
  margin-left: 1.3rem;
}
.navbar-toggler-icon{
  color: #022249;
  border: 0.1px solid #022249;
  justify-content: center;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #888888;
}
.navbar-nav{
  margin-right: 1.3rem;
}
.navbar-collapse{
  text-align: center;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.nav-link{
  color: #022249;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-logo{
  height: 3rem;
  width: 10rem;
}
.container{
  position: relative;
  top: 75px;
}
.about_bread{
  
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #C3E4F5;
  font-size: 20px;
}
.about_tag{
  color: #276783;
}
.fact{
  background-color: #E2F2F0;
  box-shadow: 0px 0px 10px 0px #888888;
}
.fact-header{
  background-color: #022249;
}
.qutes{
  background-color: #C3E4F5;
  box-shadow: 0px 0px 10px 0px #888888;
} 
#our-team{
  color: #022249;
  font-size: 50px;
  padding: 20px;
}
.intro{
  background-color: #C6EFF5;
  width: 220px;
  box-shadow: 0px 0px 10px 0px #888888;
  border-radius: 10px;
  margin: auto;
}
.self-img{
  width: 180px;
  height: 180px;
}
#location{
  font-size: 33px;
  color: #022249;
}
#our-add, #map{
  color: #F17D42;
}
.contact_med{
  box-shadow: 0px 0px 10px 0px #888888;
}
.map_img{
  width: 90%;
  height: 200px;
  border: 1px solid #022249;
  box-shadow: 0px 0px 10px 0px #888888;
}
.info-num{
  background-color: #C3E4F5;
  box-shadow: 0px 0px 10px 0px #888888;
}
.info-detail{
  box-shadow: 0px 0px 20px 2px #888888;
}
#client{
  background-color: #022249;
  color: white;
}
#downloads{
  background-color: #0e3a18;
  color: white;

}
#visited{
  background-color: #C24915;
  color: white;
}
#contribution{
  background-color: #266783;
  color: white;
}
#feedback-section{
  color:#022249;
}
.container-footer{
  background-color: #C3E4F5;
  font-size: 15px;
}
